<form method="post">
    <table>
<tr>
    <td> Admin Id : </td>
    <td> 
        <input type="text" placeholder="Enter Id" name="admin_id" required>
    </td>
</tr>


    <tr>
        <td> Admin Name: </td>
        <td> 
            <input type="text" placeholder="Enter Name" name="admin_name" required>
        </td>
    </tr>

   
        <tr>
            <td> Admin Email: </td>
            <td> 
                <input type="email" placeholder="Enter Email" name="admin_email" required>
            </td>
        </tr>

    
            <tr>
                <td> Admin Password : </td>
                <td> 
                    <input type="password" placeholder="Enter Password" name="admin_password" required>
                </td>
            </tr>



            <tr>
                <td>
                <input type="submit">
                <input type="button" value="Display" onclick="window.location='display'">
            </td>
            </tr>



    </table>
</form>