<table>
    <tbody>
            <tr>
                <th>Admin Id </th>
                <td>:</td>
                <td><%= db_rows_array[0].admin_id %></td>
             </tr>

             <tr>
                <th>Admin Name </th>
                <td>:</td>
                <td><%= db_rows_array[0].admin_name %></td>
             </tr>


             <tr>
                <th>Admin Email </th>
                <td>:</td>
                <td><%= db_rows_array[0].admin_email %></td>
             </tr>


             <tr>
                <th>Admin Password </th>
                <td>:</td>
                <td><%= db_rows_array[0].admin_password %></td>
             </tr>


    </tbody>
</table>